<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.mapper.user.SearchHistoryMapper">
    <resultMap id="BaseResultMap" type="com.springboot.bean.user.SearchHistory">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="keyword" jdbcType="VARCHAR" property="keyword" />
        <result column="from" jdbcType="VARCHAR" property="from" />
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="deleted" jdbcType="BIT" property="deleted" />
    </resultMap>
    <sql id="Base_Column_List">
        id,user_id,keyword,`from`,add_time,update_time,deleted
    </sql>
    <select id="QuerySearchHistoryByPage" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from cskaoyan_mall_search_history
        order by ${sort} ${order} limit #{offset},#{limit}
    </select>
    <select id="QuerySearchHistoryBykeyword" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from cskaoyan_mall_search_history
        where keyword like "%"#{keyword}"%"
        order by ${sort} ${order} limit #{offset},#{limit}
    </select>
    <select id="QuerySearchHistoryByUserid" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from cskaoyan_mall_search_history
        where user_id like "%"#{userid}"%"
        order by ${sort} ${order} limit #{offset},#{limit}
    </select>
    <select id="QuerySearchHistoryByUseridAndkeyword" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from cskaoyan_mall_search_history
        where user_id like "%"#{userid}"%" and keyword like "%"#{keyword}"%"
        order by ${sort} ${order} limit #{offset},#{limit}
    </select>
    <select id="findCount" resultType="_int">
        select count(*) from cskaoyan_mall_search_history
    </select>
</mapper>